@import url('https://fonts.googleapis.com/css?family=Lato:300,700');

body {
	background-color: black;
	font-family: 'Lato', sans-serif;
	font-size: 8em;
}

h1 {
	display: none;
}

p.main {
	color: white;
	font-weight: 300;
}

span.italic {
	text-shadow: 5px 5px 1px #0989ff;
	font-weight: 700;
}